
body {
  text-align: justify;
}

a {
  color: #178A43;
}

.author_block {
  display: inline-block;
}

.author_afil {
  font-size: 14px;
  vertical-align: super;
  color: rgba(0, 0, 0, 0.5);
}

.affiliation {
  font-style: italic;
}

.email {
  color: rgba(23, 138, 84, 0.4);
  font-size: 10px;
}

.date {
  text-align: right;
}

.title, .subtitle {
  text-align: center;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #178A43;
    border-color: #178A43;
}